$color-1: #608e94;
$color-2: #9DBFAF;

.search {
  width: 100%;
  position: relative;
  display: flex;
  width: 300px;
}

.searchTerm {
  width: 100%;
  border: 3px solid $color-1;
  border-right: none;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  outline: none;
  font-size: 16px;
  width: 100%;
  &:focus{
    color: $color-1;
  }
}

.searchButton {
  height: 36px;
  border: 1px solid $color-1;
  background: $color-1;
  text-align: center;
  color: #fff;
  border-radius: 0 25px 25px 0;
  cursor: pointer;
  font-size: 16px;
}

.wrap{
  width: 100%;
  max-width: 300px;
}